

<!DOCTYPE html>
<html lang="en">
{% extends 'base.html'%}
{% block main %}
<head>
    <meta charset="UTF-8">
    <title>url-shortener</title>
</head>
<center>
<center><h1>URL Shortener </h1></center>



<h2><center><form action="your-url" method="POST">
    <label for="url"><code>Website Name</code></label>
    <input type="url" name="url" value="" required><br>
    <label for="code"><code>Shorten code</code></label>
    <input type="text" name="code" value="" required><br><br>
    <input type="submit" value="shortner">
</form>

</h2>
{%if codes %}
<h2><code>You have created following shortened codes for url's:</code></h2>
<ul>
    {%for code in codes %}
    <a href="{{ url_for('redirect_to_url',code=code) }}">
    <li>{{ code }} </li>
    </a>
    {% endfor %}
</ul>
{% endif %}
</center>
</body>
</html>


{% endblock %}