

<!DOCTYPE html>
<html lang="en">
{% extends 'base.html'%}
{% block main %}
<head>
    <meta charset="UTF-8">
    <title>url-shortener</title>
</head>
<body>
<h1>URL Shortener </h1>



<form action="your-url" method="POST">
    <label for="url">Website Name</label>
    <input type="url" name="url" value="" required><br>
    <label for="code">Shorten code</label>
    <input type="text" name="code" value="" required><br>
    <input type="submit" value="shortner">
</form>

{%if codes %}
<h2>Codes that you have created-</h2>
<ul>
    {%for code in codes %}
    <a href="{{ url_for('redirect_to_url',code=code) }}">
    <li>{{ code }} </li>
    </a>
    {% endfor %}
</ul>
{% endif %}
</body>
</html>


{% endblock %}